<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.yonathan.hydroflow"
    tools:ignore="LockedOrientationActivity">

    <application
        android:name="br.com.yonathan.hydroflow.sql.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name="br.com.yonathan.hydroflow.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="br.com.yonathan.hydroflow.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.yonathan.hydroflow.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.yonathan.hydroflow.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="br.com.yonathan.hydroflow.activity.RealTimeActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name="br.com.yonathan.hydroflow.activity.ChartActivity"
            android:screenOrientation="fullSensor" />

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>